[Columns]
# template : column# = name of column
column1 = Simulation
column2 = lambda
column3 = mu
column4 = theta
column5 = C
column6 = c0
column7 = L
column8 = H
column9 = blocked
column10 = served
column11 = generated
column12 = B
column13 = W system
column14 = Q
column15 = W queue
column16 = IDLE time
column17 = TURN OFF time
column18 = TURN UP time
column19 = FULL time
column20 = IDLE count
column21 = TURN OFF count
column22 = TURN UP count
column23 = FULL count
column24 = W system
column25 = up-down mean time
column26 = up-down count

[Parameters]
# template: parameter name = start value - end value | step
lambda=0.05-5|0.05
mu=0.1
theta=1-20|1
c=10
c0=2
l=1-100|1
h=1-100|1
q=100
simulation_time=1000
repeats=1