[Columns]
# template : column# = name of column
column0 = Simulation
column1 = lambda
column2 = mu
column3 = theta
column4 = C
column5 = c0
column6 = L
column7 = H
column8 = blocked
column9 = served
column10 = generated
column11 = B
column12 = N
column13 = W system
column14 = Q
column15 = W queue
column16 = IDLE time
column17 = TURN OFF time
column18 = TURN UP time
column19 = FULL time
column20 = IDLE count
column21 = TURN OFF count
column22 = TURN UP count
column23 = FULL count
column24 = up-down mean time
column25 = up-down count

[Parameters]
# template: parameter name = start value - end value | step
lambda=1-5|0.5
mu=1
theta=0.000138
c=4
c0=3
l=10
h=20
q=100
simulation_time=50000
repeats=20